<!--<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>-->


<h1>About Me: Kelli</h1>
<ul>
  <li>I have a dog named Starr.</li>
  <li>I live in the LES.</li>
  <li>I like the working on my webapp Rivington Ruffian.</li>
</ul>